# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
db.sqlite3
*.log
local_settings.py
media/

# Entorno
venv/
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Static collect (producción)
staticfiles/
